@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

:root {
	--font-body:
		Lexend, Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
		'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	font-family: var(--font-body);

	--deep-purple: #35003e;
	--red: #bc2426;
	--moss: #a29739;
	--slate-blue: #4e637d;
	--pink: #b12849;
	--orange: #e85e27;
	--brown: #5d4850;
	--sand: #bf8c5b;
	--cream: #faefe7;
}

body {
	margin: 0;
}
