name: Deploy to GitHub Pages

on:
  workflow_dispatch:
  push:
    branches: 'main'
  schedule:
    - cron: '0 7 * * *'

jobs:
  build_site:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: npm
      - name: Install dependencies
        run: npm install

      - name: build
        env:
          REPO_NAME: '${{ github.event.repository.name }}'
          GOOGLE_API_KEY: ${{ secrets.GOOGLE_API_KEY }}
        run: npm run build

      - name: Upload Artifacts
        uses: actions/upload-pages-artifact@v3
        with:
          # this should match the `pages` option in your adapter-static options
          path: 'build/'

  keepalive-job:
  name: Keepalive Workflow
  runs-on: ubuntu-latest
  permissions:
    contents: write
  steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Keep repository active
      shell: bash
      env:
        COMMIT_USER_NAME: 'github-actions[bot]'
        COMMIT_USER_EMAIL: '41898282+github-actions[bot]@users.noreply.github.com'
        TIME_ELAPSED_THRESHOLD_IN_DAYS: '50' # Adjust as needed (GitHub disables after 60 days)
        COMMIT_MESSAGE: 'chore: keep repository active [skip ci]'
        TRACE: '0' # Set to '1' for debugging
      run: |
        set -o nounset
        set -o errexit
        set -o pipefail
        if [ "${TRACE-0}" -eq 1 ]; then set -o xtrace; fi

        readonly COMMIT_USER_NAME="${COMMIT_USER_NAME}"
        readonly COMMIT_USER_EMAIL="${COMMIT_USER_EMAIL}"
        readonly TIME_ELAPSED_THRESHOLD_IN_DAYS="${TIME_ELAPSED_THRESHOLD_IN_DAYS}"
        readonly COMMIT_MESSAGE="${COMMIT_MESSAGE}"

        git --version
        git config user.name "$COMMIT_USER_NAME"
        git config user.email "$COMMIT_USER_EMAIL"

        # Get the last commit date for the current branch
        LAST_COMMIT_DATE=$(git log -1 --format="%ct")
        CURRENT_DATE=$(date "+%s")
        TIME_DIFFERENCE=$((CURRENT_DATE - LAST_COMMIT_DATE))
        DAYS_AGO=$((TIME_DIFFERENCE / (60 * 60 * 24)))

        echo "Last commit is '$DAYS_AGO' days ago"

        if [ "$DAYS_AGO" -gt "$TIME_ELAPSED_THRESHOLD_IN_DAYS" ]; then
          echo "$DAYS_AGO > $TIME_ELAPSED_THRESHOLD_IN_DAYS -> add empty commit"
          git commit --allow-empty -m "$COMMIT_MESSAGE"
          git push
          echo "done"
        else
          echo "$DAYS_AGO <= $TIME_ELAPSED_THRESHOLD_IN_DAYS -> nothing to do"
        fi

  deploy:
    needs: build_site
    runs-on: ubuntu-latest

    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Deploy
        id: deployment
        uses: actions/deploy-pages@v4
